body {
    background-color: pink;
}

button {
    background-color: white;
    color: blue;
}

.red {
    color: blue;
    font-size: 30px;
}

p {
    font-size: 15px;
}

.date {
    color: rgb(204, 141, 241);
}

.toggle {
    color: rgb(241, 170, 15);
}

.img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}